<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Portfolio Rebalancing</h1>
    <form action="/add_portfolio" method="post" id="initialization">
        <label for="init_invest">Enter Amount</label>
        <input type="text" name="init_invest" id="init_invest" value="10000" data-type="currency" placeholder="$100,000.00" required>
        <input type="number" name="tau" id="tau" value="0" placeholder="0.01">
        <input type="number" name="require_return" value="0" id="require_return">
        <select name="strategy" id="strategy">
            <option value="omega">omega</option>
        </select>
        <button type="submit">
            Add Portfolio
        </button>
    </form>
    <form action="/rebalancing" method="post">
        <select name="portfolio" id="portfolio">
            <option value="omega portfolio">omega portfolio</option>
        </select>
        <button type="submit">rebalancing</button>
    </form>
    {% if portfolios %}
    <form action="/" method="post">
        <select name="portfolios" id="portfolios">
            {% for i in portfolios %}
            <option value="{{i.portfolio_id}}">portfolio{{i.portfolio_id}}</option>
            {% endfor %}
        </select>
        <button type="submit">選擇</button>
    </form>
    {% endif %}
    {% if portfolio %}
    <h2>Portfolio：{{portfolio.portfolio_id}}</h2>
    <h3>initial investment：{{portfolio.init_investment}}</h3>
    <h3>model：{{portfolio.strategy_name}}</h3>
    <h3>start time：{{portfolio.create_date}}</h3>
    <table>
        <thead>
            <tr>
                <th>rebalance date</th>
                <th>market value</th>
                <th>share holds</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>100</td>
                <td>100</td>
                <td>100</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    
</body>

</html>